<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category %></title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1><%= category %></h1>
    <% const menuItems = menu.filter ((item)=>{ %> <% return item.category ===
    category %> <% }) %> <% menuItems.forEach(element => { %>
    <li>
      <%= element.name %>, price: $<%= element.price %>, rating: <%=
      element.rating %>, details: <%= element.details %>
    </li>
    <% }) %>
  </body>
</html>
