<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <h1>Full Menu</h1>
    <h2>Mains</h2>
    <% const menuMains = menu.filter((item)=>{ %> <% return item.category ===
    "mains" %> <% }) %> <% menuMains.forEach(item => { %>
    <li>
      <%= item.name %>, price: $<%= item.price %>, rating: <%= item.rating %>,
      details: <%= item.details %>
    </li>
    <% }) %>
    <h2>Desserts</h2>
    <% const menuDesserts = menu.filter((item)=>{ %> <% return item.category ===
    "desserts" %> <% }) %> <% menuDesserts.forEach(item => { %>
    <li>
      <%= item.name %>, price: $<%= item.price %>, rating: <%= item.rating %>,
      details: <%= item.details %>
    </li>
    <% }) %>
    <h2>Sides</h2>
    <% const menuSides = menu.filter((item)=>{ %> <% return item.category ===
    "sides" %> <% }) %> <% menuSides.forEach(item => { %>
    <li>
      <%= item.name %>, price: $<%= item.price %>, rating: <%= item.rating %>,
      details: <%= item.details %>
    </li>
    <% }) %>
  </body>
</html>
